.sidebar {
  background: white;
  height: 100vh;
  font-family: sans-serif;
  width: 300px;
  min-width: 300px;
  position: fixed;
  overflow-x: scroll;

  .logo {
    height: 150px;
    background: #151c25;
  }

  .nav-item-container {
    display: flex;
    margin: 40px 30px;
    border: 1px solid #454d58;
    border-radius: 5px;
    cursor: pointer;

    .nav-item-icon-container {
      background: #ea3c12;
      border-radius: 5px;
      width: 45px;
      height: 45px;
      padding: 12px;
      text-align: center;
      margin-right: 17px;
      font-size: 24px;
      transition: all linear 0.3s;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
    }

    .nav-item-icon-container svg {
      fill: white;
      height: 45px;
      width: 45px;
      vertical-align: -webkit-baseline-middle;
      border-radius: 5px;
    }

    .menu-text-container {
      height: 20px;
      overflow: hidden;
      align-self: center;
      color: #ea3c12;
      align-self: center;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;

      .menu-text {
        align-self: center;

        #animation-character {
          transition-delay: 0;
          min-width: 9px;
        }
      }
    }

    &:hover .nav-item-icon-container {
      background: white;

      svg {
        fill: black;
      }
    }

    &:hover .origin-text {
      transform: translateY(-20px);
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s;
    }

    &:hover #animation-character {
      color: #151c25;
      transform: translateY(-20px);
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s;
    }
  }
}

a.active {
  .nav-item-container {
    .nav-item-icon-container {
      background: white;

      svg {
        fill: #151c25;
      }
    }

    .origin-text {
      transform: translateY(-20px);
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s;
    }

    #animation-character {
      color: #151c25;
      transform: translateY(-20px);
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s;
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
