.about-me-section {
  position: relative;

  h2.section-header {
    opacity: 0.1;
    position: absolute;
    font-size: 8rem;
    left: 15%;
    top: -23%;
    text-transform: uppercase;
    color: lightcoral;

  }

  h1.header {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .tab-card {
    border: 2px dashed red;
    margin: 30px;
    height: 220px;
    padding: 30px;
  }
}