.tab-container {
  text-align-last: center;
  height: 45px;
  margin-bottom: 50px;

  .tab {
    text-transform: uppercase;
    color: black;
    z-index: 2;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    border-radius: 0;

    &:hover {
      color: #ea3c12;
      background: none;
    }
  }

  .active {
    color: #ea3c12;
    border-bottom: 4px solid #ea3c12;
    background: none;
    margin-bottom: -4px;
  }
}

.tab-card {
  border: 2px dashed red;
  margin: 30px;
  height: 220px;
  padding: 30px;
}